/* BOTÓN CHAT */

.chatbot-btn{

position:fixed;

right:25px;

bottom:25px;

width:60px;

height:60px;

border-radius:50%;

background:#27ae60;

color:white;

font-size:30px;

border:none;

cursor:pointer;

z-index:9999;

box-shadow:0 5px 15px rgba(0,0,0,.3);

}




/* CAJA CHAT */


.chatbot{

position:fixed;

right:25px;

bottom:100px;

width:330px;

height:430px;

background:white;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

display:none;

flex-direction:column;

overflow:hidden;

z-index:9999;

}



/* HEADER */


.chat-header{


background:#222;

color:white;

padding:15px;

font-family:'Lobster',cursive;

font-size:22px;

display:flex;

justify-content:space-between;


}



.cerrar-chat{

cursor:pointer;

font-size:25px;

}



/* MENSAJES */


.chat-body{


flex:1;

padding:15px;

overflow-y:auto;

font-size:14px;


}



.bot{

background:#f3ebd4;

padding:10px;

border-radius:10px;

margin-bottom:10px;


}



.usuario{


background:#27ae60;

color:white;

padding:10px;

border-radius:10px;

margin-bottom:10px;

margin-left:50px;


}



/* INPUT */


.chat-input{


display:flex;

border-top:1px solid #ddd;


}



.chat-input input{


flex:1;

border:none;

padding:12px;

outline:none;


}

.preguntas-chat{


display:flex;

flex-direction:column;

gap:10px;

margin-top:20px;


}



.preguntas-chat button{


background:#f3ebd4;

border:1px solid #27ae60;

padding:12px;

border-radius:10px;

font-size:14px;

cursor:pointer;

text-align:left;

transition:.3s;


}



.preguntas-chat button:hover{


background:#27ae60;

color:white;

transform:translateX(5px);


}

.chat-input button{


background:#27ae60;

color:white;

border:none;

padding:10px;

cursor:pointer;


}
.opciones-chat{


display:flex;

flex-wrap:wrap;

gap:8px;

margin-top:15px;


}



.opciones-chat button{


background:#f3ebd4;

border:1px solid #27ae60;

color:#222;

padding:8px;

border-radius:20px;

cursor:pointer;

font-size:12px;


}



.opciones-chat button:hover{


background:#27ae60;

color:white;


}